@model IEnumerable<AlphaABSV2.Models.Event>

@{
    ViewBag.Title = "Index";
}

<div class="small-header transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
                    <li class="active">
                        Event Index
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Events
            </h2>
            <small>Create the Event package variations here. i.e. Adult Package (Paintball), (Super Shot) Laser Tag etc..</small>
        </div>
    </div>
</div>


<div class="content animate-panel">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-body">
                        <h2>Event Packages</h2>

                        @*<p>Individual form controls automatically receive some global styling. All textual <code>&lt;input&gt;</code>, <code>&lt;textarea&gt;</code>, and <code>&lt;select&gt;</code> elements with <code>.form-control</code> are set to <code>width: 100%;</code> by default. Wrap labels and controls in <code>.form-group</code> for optimum spacing.</p>*@
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        Current Events
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.EventParent.EventName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EventType)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.Duration)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MultiSession)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SessionNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MinNumber)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.MaxNumber)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EventParent.EventName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EventType)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Duration)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MultiSession)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SessionNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MinNumber)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.MaxNumber)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.EventID }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.EventID }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.EventID })
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td>
                                    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-md" })
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
