@model AlphaABSV2.Models.VersionManager

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>VersionManager</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BusinessName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuildingNumberName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildingNumberName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Town)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Town)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PostCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PostCode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VatNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VatNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Bank)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Bank)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
