@model AlphaABSV2.ViewModels.BookingViewModel
@using AlphaABSV2.Models
@{
    ViewBag.Title = "Create Booking";
}

<div class="small-header transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
                    <li class ="active">
                        <span>New Booking</span>
                    </li>
                 </ol>
            </div>
            <h2 class="font-light m-b-xs">
                New Booking
            </h2>
            <small>Create a new booking.</small>
        </div>
    </div>
</div>

@using (Html.BeginForm("Create", "BookingForm", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <div class="content animate-panel">
        <div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="hpanel">
                        <div class="panel-heading">
                            <div class="panel-tools">
                                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            </div>
                            New Booking
                        </div>
                        <div class="panel-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.BookingRef, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.booking.BookingRef, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.booking.BookingRef, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.VenueID, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.DropDownListFor(model => model.booking.VenueID, ViewBag.Venue as SelectList, "- Select Venue - ")
                                    @Html.ValidationMessageFor(model => model.booking.VenueID, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.OfficeRef, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.DropDownListFor(model => model.booking.OfficeRef, ViewBag.OfficeRef as SelectList, "- Select Status - ")
                                    @Html.ValidationMessageFor(model => model.booking.OfficeRef, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.Purpose, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.DropDownListFor(model => model.booking.Purpose, ViewBag.Purpose as SelectList, "- Select Status - ")
                                    @Html.ValidationMessageFor(model => model.booking.Purpose, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.Source, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.DropDownListFor(model => model.booking.Source, ViewBag.Source as SelectList, "- Select Source -")
                                    @Html.ValidationMessageFor(model => model.booking.Source, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.DateOfBooking, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-3">
                                    @Html.EditorFor(model => model.booking.DateOfBooking, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.booking.DateOfBooking, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.GroupOrganiserFName, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.booking.GroupOrganiserFName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.booking.GroupOrganiserFName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.GroupOrganiserLName, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.booking.GroupOrganiserLName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.booking.GroupOrganiserLName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.TelNo, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.booking.TelNo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.booking.TelNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.Email, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.booking.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.booking.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.PartyName, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.booking.PartyName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.booking.PartyName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.GroupSize, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-2">
                                    @Html.EditorFor(model => model.booking.GroupSize, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.booking.GroupSize, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.StartTime, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.booking.StartTime, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.booking.StartTime, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.EndTime, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.booking.EndTime, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.booking.EndTime, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.BookingStatus, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.DropDownListFor(model => model.booking.BookingStatus, ViewBag.BookingStatus as SelectList, "- Select Status - ")
                                    @Html.ValidationMessageFor(model => model.booking.BookingStatus, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.BookingSummary, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.booking.BookingSummary, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.booking.BookingSummary, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.DaySheetNotes, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.booking.DaySheetNotes, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.booking.DaySheetNotes, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.InternalNotes, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.booking.InternalNotes, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.booking.InternalNotes, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.SendEmail, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.booking.SendEmail)
                                        @Html.ValidationMessageFor(model => model.booking.SendEmail, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.SendText, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.booking.SendText)
                                        @Html.ValidationMessageFor(model => model.booking.SendText, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-10">

                                    @foreach (EventParent eParent in Model.DynamicEvents.Select(e => e.EventParent).Distinct())
                                    {
                                        <div class="col-sm-2">
                                            @Html.DisplayFor(modelItem => eParent.EventName)
                                        </div>

                                        for (int i = 0; i < Model.DynamicEvents.Count(); i++)
                                        {
                                            if (Model.DynamicEvents[i].EventParent.EventParentID == eParent.EventParentID)
                                            {
                                                <div class="col-sm-offset-2">
                                                    @Html.DisplayFor(modelItem => modelItem.DynamicEvents[i].EventType, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.Hidden("EventData[" + i + "].EventID", Model.DynamicEvents[i].EventID)
                                                    @Html.Hidden("EventData[" + i + "].EventTypeID", Model.DynamicEvents[i].EventID)
                                                    @Html.EditorFor(eventDat => eventDat.EventData[i].StartTime, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.EditorFor(eventDat => eventDat.EventData[i].EventNumber, new { htmlAttributes = new { @class = "form-control" } })
                                                </div>
                                            }
                                        }
                                    }

                                </div>

                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-8">
                                @Html.Hidden("events", Model)
                                <button class="btn btn-primary" type="submit">Save changes</button>
                            </div>
                        </div>
                        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-primary btn-md" })
                    </div>
                        </div>
                    </div>
                
        </div>
    </div>
      
}

       