@model AlphaABSV2.ViewModels.BookingViewModel
@using AlphaABSV2.Models
@{
    ViewBag.Title = "Create Booking";
}

<div class="small-header transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
                    <li class ="active">
                        <span>New Booking</span>
                    </li>
                 </ol>
            </div>
            <h2 class="font-light m-b-xs">
                New Booking
            </h2>
            <small>Create a new booking.</small>
        </div>
    </div>
</div>

@using (Html.BeginForm("Create", "BookingForm", FormMethod.Post, new { @class = "form-horizontal" }))
{
    @Html.AntiForgeryToken()
    <div class="content animate-panel">
        <div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="hpanel">
                        <div class="panel-heading">
                            <div class="panel-tools">
                                <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                            </div>
                            New Booking
                        </div>
                        <div class="panel-body">
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @*<div class="form-group">
                    @Html.LabelFor(model => model.booking.BookingRef, htmlAttributes: new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.booking.BookingRef, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.booking.BookingRef, "", new { @class = "text-danger" })
                    </div>
                </div>*@
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.DateOfBooking, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-3">
                                    @Html.EditorFor(model => model.booking.DateOfBooking, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.booking.DateOfBooking, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.VenueID, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.DropDownListFor(model => model.booking.VenueID, ViewBag.Venue as SelectList, "- Select Venue - ")
                                    @Html.ValidationMessageFor(model => model.booking.VenueID, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.OfficeRef, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.DropDownListFor(model => model.booking.OfficeRef, ViewBag.OfficeRef as SelectList, "- Select Status - ")
                                    @Html.ValidationMessageFor(model => model.booking.OfficeRef, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.Purpose, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.DropDownListFor(model => model.booking.Purpose, ViewBag.Purpose as SelectList, "- Select Status - ")
                                    @Html.ValidationMessageFor(model => model.booking.Purpose, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.Source, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.DropDownListFor(model => model.booking.Source, ViewBag.Source as SelectList, "- Select Source -")
                                    @Html.ValidationMessageFor(model => model.booking.Source, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.GroupOrganiserFName, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.booking.GroupOrganiserFName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.booking.GroupOrganiserFName, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.GroupOrganiserLName, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.booking.GroupOrganiserLName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.booking.GroupOrganiserLName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.HouseNumber, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.booking.HouseNumber, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.booking.HouseNumber, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.Address, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.booking.Address, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.booking.Address, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.PostCode, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.booking.PostCode, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.booking.PostCode, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.TelNo, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.booking.TelNo, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.booking.TelNo, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.Email, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.booking.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.booking.Email, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.PartyName, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.booking.PartyName, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.booking.PartyName, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.GroupSize, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-2">
                                    @Html.EditorFor(model => model.booking.GroupSize, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.booking.GroupSize, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.StartTime, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-2">
                                    @Html.EditorFor(model => model.booking.StartTime, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.booking.StartTime, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            @*<div class="hr-line-dashed"></div>
                <div class="form-group">
                    @Html.LabelFor(model => model.booking.EndTime, htmlAttributes: new { @class = "col-sm-2 control-label" })
                    <div class="col-sm-10">
                        @Html.EditorFor(model => model.booking.EndTime, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.booking.EndTime, "", new { @class = "text-danger" })
                    </div>
                </div>*@
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.BookingStatus, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.DropDownListFor(model => model.booking.BookingStatus, ViewBag.BookingStatus as SelectList, "- Select Status - ")
                                    @Html.ValidationMessageFor(model => model.booking.BookingStatus, "", new { @class = "text-danger" })

                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.BookingSummary, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.TextAreaFor(model => model.booking.BookingSummary, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.booking.BookingSummary, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.DaySheetNotes, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.booking.DaySheetNotes, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.booking.DaySheetNotes, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.InternalNotes, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.booking.InternalNotes, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.booking.InternalNotes, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.SendEmail, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.booking.SendEmail)
                                        @Html.ValidationMessageFor(model => model.booking.SendEmail, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.SendText, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    <div class="checkbox">
                                        @Html.EditorFor(model => model.booking.SendText)
                                        @Html.ValidationMessageFor(model => model.booking.SendText, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <!-- EVENT SECTION-->
                            <!--**************-->
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-10">

                                    @foreach (EventParent eParent in Model.DynamicEvents.Select(e => e.EventParent).Distinct())
                                    {
                                        <ul class="list-group">
                                            @Html.DisplayFor(modelItem => eParent.EventName, new { htmlAttributes = new { @class = "text-danger" } })
                                            <li class="list-group-item">
                                                @for (int i = 0; i < Model.DynamicEvents.Count(); i++)
                                                {
                                                    if (Model.DynamicEvents[i].EventParent.EventParentID == eParent.EventParentID)
                                                    {
                                                        <ul class="list-unstyled">
                                                            @Html.DisplayFor(modelItem => modelItem.DynamicEvents[i].EventType, new { htmlAttributes = new { @class = "form-control" } })
                                                            <li>

                                                                @Html.Hidden("EventData[" + i + "].EventID", Model.DynamicEvents[i].EventID)
                                                                @*@Html.Hidden("EventData[" + i + "].EventTypeID", Model.DynamicEvents[i].EventID)*@
                                                                @Html.LabelFor(eventDat => eventDat.EventData[i].StartTime, new { htmlAttributes = new { @class = "form-control" } })
                                                                <br />
                                                                @Html.EditorFor(eventDat => eventDat.EventData[i].StartTime, new { htmlAttributes = new { @class = "time" } })

                                                            </li>
                                                            <li>
                                                                @Html.LabelFor(eventDat => eventDat.EventData[i].EventNumber, new { htmlAttributes = new { @class = "form-control" } })
                                                                @Html.EditorFor(eventDat => eventDat.EventData[i].EventNumber, new { htmlAttributes = new { @class = "form-control" } })

                                                            </li>

                                                        </ul>
                                                    }
                                                }
                                            </li>
                                        </ul>


                                    }

                                </div>

                            </div>

                            <!--END OF EVENTS SECTION-->
                            <!--*********************-->
                            <!-- ADDON SECTION-->
                            <!--**************-->
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-10">

                                    @foreach (AddOnParent aParent in Model.DynamicAddOns.Select(a => a.AddOnParent).Distinct())
                                    {
                                        <ul class="list-group">
                                            @Html.DisplayFor(modelItem => aParent.AddOnCategory, new { htmlAttributes = new { @class = "text-danger" } })
                                            <li class="list-group-item">
                                                @for (int i = 0; i < Model.DynamicAddOns.Count(); i++)
                                                {
                                                    if (Model.DynamicAddOns[i].AddOnParent.AddOnParentID == aParent.AddOnParentID)
                                                    {
                                                        <ul class="list-unstyled">
                                                            @Html.DisplayFor(modelItem => modelItem.DynamicAddOns[i].AddOnName, new { htmlAttributes = new { @class = "form-control" } })
                                                            <li>

                                                                @Html.Hidden("AddOnData[" + i + "].AddOnsID", Model.DynamicAddOns[i].ID)
                                                                @*@Html.Hidden("EventData[" + i + "].EventTypeID", Model.DynamicEvents[i].EventID)*@
                                                                @*@Html.LabelFor(eventDat => eventDat.AddOnData[i].AddOnNumber, new { htmlAttributes = new { @class = "form-control" } })*@
                                                                @Html.EditorFor(eventDat => eventDat.AddOnData[i].AddOnNumber, new { htmlAttributes = new { @class = "form-control" } })

                                                            </li>
                                                            @*<li>
                                                    @Html.LabelFor(eventDat => eventDat.EventData[i].EventNumber, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.EditorFor(eventDat => eventDat.EventData[i].EventNumber, new { htmlAttributes = new { @class = "form-control" } })

                                                </li>*@

                                                        </ul>
                                                    }
                                                }
                                            </li>
                                        </ul>


                                    }

                                </div>

                            </div>
                        

                        <!-- END OF ADDON SECTION-->
                        <!--**********************-->

                        <!--HOTEL SECTION-->
                        <!--*************-->
                            <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                @Html.LabelFor(model => model.booking.HotelID, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.DropDownListFor(model => model.booking.HotelID, ViewBag.Hotel as SelectList, "- Select Status - ")
                                    @Html.ValidationMessageFor(model => model.booking.HotelID, "", new { @class = "text-danger" })
                                </div>
                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.booking.CheckInDate, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-10">
                                        <div class="col-sm-3">
                                            @Html.EditorFor(model => model.booking.CheckInDate, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.booking.CheckInDate, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                    <div class="hr-line-dashed"></div>
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.booking.CheckOutDate, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                        <div class="col-sm-10">
                                            <div class="col-sm-3">
                                                @Html.EditorFor(model => model.booking.CheckOutDate, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.booking.CheckOutDate, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    @Html.LabelFor(model => model.booking.HotelBookingInfo, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                    <div class="col-sm-10">
                                        @Html.EditorFor(model => model.booking.HotelBookingInfo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.booking.HotelBookingInfo, "", new { @class = "text-danger" })
                                    </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.HotelTotalCost, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.booking.HotelTotalCost, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.booking.HotelTotalCost, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.HotelDateDepositDue, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    <div class="col-sm-3">
                                        @Html.EditorFor(model => model.booking.HotelDateDepositDue, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.booking.HotelDateDepositDue, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.HotelFinalBalance, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.booking.HotelFinalBalance, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.booking.HotelFinalBalance, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.HotelDateToPay, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    <div class="col-sm-3">
                                        @Html.EditorFor(model => model.booking.HotelDateToPay, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.booking.HotelDateToPay, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.booking.HotelContact, htmlAttributes: new { @class = "col-sm-2 control-label" })
                                <div class="col-sm-10">
                                    @Html.EditorFor(model => model.booking.HotelContact, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.booking.HotelContact, "", new { @class = "text-danger" })
                                </div>
                            </div>

                        <!--END OF HOTEL SECTION-->
                        <!--********************-->
                        
                        <!-- FINANCIAL SECTION-->
                        <!--******************-->
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Costs.DepositDueOnDate, htmlAttributes: new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                <div class="col-sm-3">
                                    @Html.EditorFor(model => model.Costs.DepositDueOnDate, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Costs.DepositDueOnDate, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Costs.DepositTotalTaken, htmlAttributes: new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                <div class="col-sm-3">
                                    @Html.EditorFor(model => model.Costs.DepositTotalTaken, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Costs.DepositTotalTaken, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Costs.AmountTaken, htmlAttributes: new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                <div class="col-sm-3">
                                    @Html.EditorFor(model => model.Costs.AmountTaken, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Costs.AmountTaken, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        <!-- END OF FINANCIAL SECTION-->
                        <!--*************************-->
                    </div>
                    </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-8">
                                @Html.Hidden("events", Model)
                                <button class="btn btn-primary" type="submit">Save changes</button>
                            </div>
                        </div>
                        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-primary btn-md" })
                    </div>
                        </div>
                    </div>
                
        </div>
    
      
}

@section Styles{

    @Styles.Render("~/bundles/timepicker/css")

}

@section Scripts{

    @Scripts.Render("~/bundles/timepicker/js")
    @Scripts.Render("~/bundles/bookingform/js")
  }
       