@model IEnumerable<AlphaABSV2.Models.BookingForm>

@{
    ViewBag.Title = "Index";
}

<div class="small-header transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
                    <li class="active">
                        All Bookings
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                All Bookings
            </h2>
            <small>View all Bookings here.</small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        Current Bookings
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.BookingRef)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DateOfEvent)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GroupOrganiser)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.PartyName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.GroupSize)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.StartTime)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.EndTime)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BookingStatus)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BookingSummary)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.DaySheetNotes)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.InternalNotes)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SendEmail)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.SendText)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BookingRef)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DateOfEvent)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GroupOrganiser)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.PartyName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.GroupSize)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StartTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EndTime)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BookingStatus)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.BookingSummary)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.DaySheetNotes)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.InternalNotes)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SendEmail)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.SendText)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.BookingFormID }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.BookingFormID }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.BookingFormID })
                                    </td>
                                </tr>
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p>
        @Html.ActionLink("New Booking", "Create", null, new { @class = "btn btn-primary btn-md" })
    </p>
</div>


