@model IEnumerable<AlphaABSV2.Models.EventRecord>
@using AlphaABSV2.Helpers;
@{
    var pageName = "Laser Tag Quick View";
    ViewBag.Title = pageName;
}

<div class="small-header transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Dashboard")">Dashboard</a></li>
                    <li class="active">
                        @pageName
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                @pageName
            </h2>
            <small>Filtered by Laser Tag Bookings.</small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div>
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                        Current Bookings
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.BookingForm.BookingRef)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BookingForm.DateOfEvent)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BookingForm.GroupOrganiser)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BookingForm.PartyName)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BookingForm.TelNo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BookingForm.GroupSize)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.StartTime)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BookingForm.Financials.First().AmountTaken)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BookingForm.Financials.First().BalanceRemaining)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.BookingForm.BookingStatus)
                                </th>
                                <th></th>
                            </tr>
                            @foreach (var ev in Model.GroupBy(e => e.Event.EventType))
                            {
                                <tr class="group-header" id="@ev.First().EventID">
                                    <td colspan="3">
                                        <span class="h3">@ev.Key</span>
                                    </td>
                                    <td colspan="3">
                                        <span class="h3">Total Groups : @BookingDBHelper.GetTotalGroups(null, 0, ev.Key.ToString())</span>
                                    </td>
                                    <td colspan="3">
                                        <span class="h3">Total Players : @BookingDBHelper.GetTotalPlayers(null, 0, ev.Key.ToString())</span>
                                    </td>
                                    <td colspan="3">
                                        <span class="h3">Capacity Left : 36</span>
                                    </td>

                                </tr>

                                foreach (var subEv in ev.GroupBy(e => e.BookingForm.DateOfEvent))
                                {
                                    <tr class="group-subheader">
                                        <td colspan="3">
                                            <span class="h4">@Convert.ToDateTime(subEv.Key).ToShortDateString()</span>
                                        </td>
                                        <td colspan="3">
                                            <span class="h4">Total Groups : @BookingDBHelper.GetTotalGroups(Convert.ToDateTime(subEv.Key), subEv.First().Event.EventParentID)</span>
                                        </td>
                                        <td colspan="3">
                                            <span class="h4">Total Players : @BookingDBHelper.GetTotalPlayers(Convert.ToDateTime(subEv.Key), subEv.First().Event.EventParentID)</span>
                                        </td>
                                        <td colspan="3">
                                            <span class="h4">Capacity Left : 36</span>
                                        </td>

                                    </tr>

                                    foreach (var item in subEv)
                                    {
                                        <tr class="children">
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BookingForm.BookingRef)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BookingForm.DateOfEvent)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BookingForm.GroupOrganiser)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BookingForm.PartyName)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BookingForm.TelNo)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BookingForm.GroupSize)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.StartTime)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BookingForm.Financials.First().AmountTaken)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BookingForm.Financials.First().BalanceRemaining)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.BookingForm.BookingStatus)
                                            </td>
                                            <td>
                                                @Html.ActionLink("Edit", "Edit", new { id = item.EventRecordID }) |
                                                @Html.ActionLink("Details", "Details", new { id = item.EventRecordID }) |
                                                @Html.ActionLink("Delete", "Delete", new { id = item.EventRecordID })
                                            </td>
                                        </tr>
                                    }
                                }
                            }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
                        
                        
           
    @section Styles{
        @Styles.Render("~/bundles/quickviews/css")
    }
    @section Scripts{

        @Scripts.Render("~/bundles/jqueryui/js")
        @Scripts.Render("~/bundles/jquery/js")
        @Scripts.Render("~/bundles/quickviews/js")
    }
