@model IEnumerable<AlphaABSV2.Models.EventParent>

@{
    ViewBag.Title = "Index";
}

<div class="small-header transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <div id="hbreadcrumb" class="pull-right">
                <ol class="hbreadcrumb breadcrumb">
                    <li><a href="@Url.Action("Index", "Admin")">Super Admin</a></li>
                    <li class="active">
                        Event Parent Index    
                    </li>
                </ol>
            </div>
            <h2 class="font-light m-b-xs">
                Event Parent
            </h2>
            <small>Create the Event Types here. i.e. Paintball, Laser Tag etc..</small>
        </div>
    </div>
</div>

<div class="content animate-panel">
    <div>
        <div class="row">
            <div class="col-lg-6">
                <div class="hpanel">
                    <div class="panel-heading">
                        <div class="panel-tools">
                            <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        </div>
                       Current Event Parent
                    </div>
                    <div class="panel-body">
                        <table class="table">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.EventName)
                                </th>
                                <th></th>
                            </tr>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.EventName)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Edit", "Edit", new { id = item.EventParentID }) |
                                        @Html.ActionLink("Details", "Details", new { id = item.EventParentID }) |
                                        @Html.ActionLink("Delete", "Delete", new { id = item.EventParentID })
                                    </td>
                                </tr>
                                
                            }
                            <tr>
                                <td>@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary btn-md" })</td>

                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


